@using AccountSystem.ExtensionMethods

@model AccountSystem.Models.ChangePasswordViewModel


<div class="container">

    <div class="row main-row-with-y-margins">

        <div asp-validation-summary="All" class="card-panel red lighten-1"></div>

        @if (Context.Request.Query["success"].Equals("True"))

        {

        @Html.PopupMessage("Password change successfully completed!", Status.Success)

        }

        @if (Context.Request.Query["success"].Equals("False") && TempData["failed"] != null)

        {

        @Html.PopupMessage(TempData["failed"].ToString(), Status.Fail)

        }

        @Html.CardHeader("Change password")

        <div class="panel z-depth-1 white border-radius-bottom" style="margin-top: 0;">

            <div class="row">

                <p>When setting a new password, please use at least 6 characters

                    (upper- and lowercase, along with a digit). At least 1 character must be unique.

                </p>

            </div>

            <div class="row">

                <form asp-action="ChangePassword" asp-controller="Profile" method="post">

                    <div class="row">

                        <div class="input-field col s12">

                            <input asp-for="CurrentPassword"/>

                            <label asp-for="CurrentPassword">Current Password</label>

                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s12">

                            <input asp-for="NewPassword"/>

                            <label asp-for="NewPassword">New Password</label>

                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s12">

                            <input asp-for="NewPasswordAgain"/>

                            <label asp-for="NewPasswordAgain">New Password Again</label>

                        </div>

                    </div>

                    <div class="input-field col s12 no-margin-y">

                        <input class="btn right" id="change-password-btn-submit" type="submit" value="Change Password"/>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
