@model AccountSystem.Models.AdminActionsViewModel


@if (Model.Roles.Contains("Admin"))

{

<a class="waves-effect waves-light btn" href='@Url.Action("RemoveAdmin", "User", new {userId = Model.User.Id})'

   style="margin-right: 5px;">

    <i class="material-icons left">supervisor_account</i>

    Remove Admin

</a>

}

else

{

<a class="waves-effect waves-light btn" href='@Url.Action("MakeAdmin", "User", new { userId = Model.User.Id})'

   style="margin-right: 5px;">

    <i class="material-icons left">supervisor_account</i>

    Add Admin

</a>

}