@model AccountSystem.Models.ForgotPasswordViewModel


@{

ViewData["Title"] = "Forgot Password";

}

<div class="container">

    <div class="panel z-depth-1 login-panel border-radius-medium">

        <div class="row">

            <h3 class="form-title blue-text" style="padding-left: 7px;">Forgot Password</h3>

            <form asp-action="ForgotPassword" method="post">

                <div asp-validation-summary="All" class="card-panel red lighten-1"></div>

                <div class="row no-margin-y">

                    <div class="input-field col s12">

                        <label asp-for="Email" class="control-label"></label>

                        <input asp-for="Email" class="form-control"/>

                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                </div>

                <div class="row">

                    <div class="input-field col s12">

                        <input class="btn right" id="forgot-password-btn-submit" type="submit" value="Submit"/>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>