<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"

      xmlns:th="http://www.thymeleaf.org">

<head>


    <head>

        <meta charset="UTF-8">

        <title>Registration Home</title>

        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"

              rel="stylesheet">

    </head>


<body>


<!-- create navigation bar ( header) -->

<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar"

                    data-toggle="collapse" type="button">

                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span

                    class="icon-bar"></span> <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" th:href="@{/accounts}">Accounts</a>

            <a class="navbar-brand" href='/transfers' id="menu-link-transfer">Transfer</a>

            <a class="navbar-brand" href='/statements' id="menu-link-statements">E-Statements</a>

            <a class="navbar-brand" href='/invoices' id="menu-link-invoices">Invoices</a>

            <a class="navbar-brand" href="/profile" id="menu-link-profile">Profile</a>

            <a class="navbar-brand" href="/users" id="menu-link-users" th:if="${isAdmin}">Users</a>

            <a class="navbar-brand" href="/logs" id="menu-link-monitoring" th:if="${isAdmin}">Monitoring</a>

        </div>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="nav navbar-nav">

                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

            </ul>

        </div>

    </div>

</nav>


<br>

<br>


<div class="container">

    <div class="row">

        <h2>Transaction</h2>

        <div class="panel z-depth-1 white prevent-overflow border-radius-bottom" style="margin-top: 0;">

            <div th:if="${transactionnotfound}"><p>Transaction not found!</p></div>

            <table class="table table-hover">

                <tbody>

                <tr>

                    <th data-field="id" scope="col">ID</th>

                    <td th:text="${transaction.id}"></td>

                </tr>

                <tr>

                    <th data-field="date" scope="col">Date</th>

                    <td>

                        <div th:text="${#dates.formatISO(transaction.timestamp)}"></div>

                    </td>

                </tr>

                <tr>

                    <th data-field="from" scope="col">From</th>

                    <div th:if="${transaction.amount} < 0">

                        <td>

                            <div th:text="${transaction.ownerAccount.accountNumber}"></div>

                        </td>

                    </div>

                    <div th:else>

                        <td>

                            <div th:text="${transaction.foreignAccount.accountNumber}"></div>

                        </td>

                    </div>

                </tr>

                <tr>

                    <th data-field="to" scope="col">To</th>

                    <div th:if="${transaction.amount} < 0">

                        <td>

                            <div th:text="${transaction.foreignAccount.accountNumber}"></div>

                        </td>

                    </div>

                    <div th:else>

                        <td>

                            <div th:text="${transaction.ownerAccount.accountNumber}"></div>

                        </td>

                    </div>

                </tr>

                <tr>

                    <th data-field="description" scope="col">Description</th>

                    <td th:text="${transaction.description}"></td>

                </tr>

                <tr>

                    <th data-field="amount" scope="col">Amount</th>

                    <td th:text="${transaction.amount}"></td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>

</html>
