<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"

      xmlns:th="http://www.thymeleaf.org">

<head>


    <head>

        <meta charset="UTF-8">

        <title>Registration Home</title>

        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"

              rel="stylesheet">

    </head>


<body>


<!-- create navigation bar ( header) -->

<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar"

                    data-toggle="collapse" type="button">

                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span

                    class="icon-bar"></span> <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" th:href="@{/accounts}">Accounts</a>

            <a class="navbar-brand" href='/transfers' id="menu-link-transfer">Transfer</a>

            <a class="navbar-brand" href='/statements' id="menu-link-statements">E-Statements</a>

            <a class="navbar-brand" href='/invoices' id="menu-link-invoices">Invoices</a>

            <a class="navbar-brand" href="/profile" id="menu-link-profile">Profile</a>

            <a class="navbar-brand" href="/users" id="menu-link-users" th:if="${isAdmin}">Users</a>

            <a class="navbar-brand" href="/logs" id="menu-link-monitoring" th:if="${isAdmin}">Monitoring</a>

        </div>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="nav navbar-nav">

                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

            </ul>

        </div>

    </div>

</nav>


<br>

<br>

<div class="container">

    <div class="row">

        <div class="panel z-depth-1 white prevent-overflow border-radius-bottom"

             style="margin-top: 0;border-style: ridge">


            <h2>Receipt</h2>

            <table class="striped table table-hover">

                <tr scope="col">

                    <td><strong>Invoice ID</strong></td>

                    <td>

                        <div th:text="${invoice.id}"></div>

                    </td>

                </tr>

                <tr scope="col">

                    <td><strong>Due date</strong></td>

                    <td>

                        <div th:text="${#dates.formatISO(invoice.dueDate)}"></div>

                    </td>

                </tr>

                <tr scope="col">

                    <th style="font-weight: bold;">

                        <div>Payment made by:</div>

                        <div>With account number:</div>

                    </th>

                    <td>

                        <div th:text="${invoice.buyerAccount.user.email}"></div>

                        <div th:text="${invoice.buyerAccount.accountNumber}"></div>

                    </td>

                </tr>

                <tr>

                    <th style="font-weight: bold;">

                        <div>Received by:</div>

                        <div>On account number:</div>

                    </th>

                    <td>

                        <div th:text="${invoice.sellerAccount.user.email}"></div>

                        <div th:text="${invoice.sellerAccount.accountNumber}"></div>

                    </td>

                </tr>

                <tr>

                    <th style="font-weight: bold;">

                        <div>Payment for:</div>

                    </th>

                    <td>

                        <div th:text="${invoice.description}"></div>

                    </td>

                </tr>

                <tr>

                    <th style="font-weight: bold;">

                        <img alt="approved by vikingbank seal" height="75" src="/media/approved_viking_bank.png"

                             width="220">

                    </th>

                    <td>

                        <div>TOTAL AMOUNT:</div>

                        <div th:text="${invoice.amount}"></div>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

<th insert="Shared/footer.html"></th>